@use '@angular/material' as mat;

// Be sure that you only ever include this mixin once!
@include mat.core();

// Define your theme with color palettes, typography and density

$mat-theme-primary-palette: map-merge(mat.$yellow-palette, (501: gold, contrast: (501: #000000, 100: black,)));
$mat-theme-primary: mat.define-palette(
    $mat-theme-primary-palette,
  $default: 501,
  $lighter: 100,
  $darker: 700,
  $text: 500
);

$mat-theme-accent-palette: map-merge(mat.$amber-palette, (501: #ffa000, contrast: (501: white, A100: white, A200: white,)));
$mat-theme-accent: mat.define-palette(
    $mat-theme-accent-palette,
  $default: 501,
  $lighter: A100,
  $darker: A200,
  $text: 600
);

$mat-theme-warn-palette: map-merge(mat.$red-palette, (501: #ff5252, contrast: (501: white, A100: white, A200: white,)));
$mat-theme-warn: mat.define-palette(
    $mat-theme-warn-palette,
  $default: A200,
  $lighter: 500,
  $darker: 500,
  $text: A700
);

$mat-density: 0;
// @include mat.elevation(
//   $zValue: 12,
//   $color: #000,
//   $opacity: 0.5
// );

$mat-core-theme: mat.define-light-theme((
  color: (
    primary: $mat-theme-primary,
    accent: $mat-theme-accent,
    warn: $mat-theme-warn
  ),
  density: $mat-density
));

@include mat.all-component-themes($mat-core-theme);

.max-width {
  max-width: 100%;
  width: 100%;
}

.saintdex-bronze {
  background-color: #cd7f32 !important;
}

.saintdex-silver {
  background-color: silver !important;
}

.saintdex-gold {
  background-color: gold !important;
}

